name: Deploy to S3

on:
  push:
    branches:
      - main   # main branch push হলে deploy হবে

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1

      - name: Sync files to S3
        run: |
          aws s3 sync . s3://chandasoinik.genzsbd.com --delete --exact-timestamps --exclude ".git/*" --exclude ".github/*"
          aws cloudfront create-invalidation --distribution-id E1RR95HQNWSFGO --paths "/*"
